---
layout: default
title: home
pagination:
  enabled: true
---

<ul class="projects clearfix">
{% for post in paginator.posts %}
  <li>
    <div class="project">
      <a class="cover" href="{{ post.url }}">
        <div class="project-details">
          <span>
            <h1>{{ post.band }}</h1>
          </span>
          <span>
            <h3>{{ post.venue }}</h3>
          </span>
          <span>
            {{ post.date | date: '%-d %B %Y' }}
          </span>
          <span>
            <br />
          </span>
        </div>
      </a>
      {% if post.opensource %}
        {% if post.blackbg %}
          <span class="github-icon light"></span>
        {% else %}
          <span class="github-icon"></span>
        {% endif %}
      {% endif %}
      {% if post.progress %}
        <span class="progress">
          <span class="under-construction"></span>
          <span class="progress-bar" style="width: {{ post.progress }}%"></span>
        </span>
      {% endif %}
      <div class="thumb" style="background-image:url({{ site.baseurl }}img/thumbs/{{ post.uid }})"></div>
      <div class="aspect-two-one"></div>
    </div>
  </li>
{% endfor %}
</ul>
